* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(231, 231, 231);
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-top: 300px;
  font-size: 40px;
  color: rgb(63, 63, 63);
  max-width: 800px;
  text-align: center;
  margin-bottom: 40px;
}

input {
  min-width: 650px;
  height: 50px;
  border: 3px solid rgb(63, 63, 63);
  border-radius: 9px;
  background-color: rgb(231, 231, 231);
  padding-left: 20px;
  font-size: 20px;
}
input:focus {
  outline: red;
}

.container-fetch {
  display: none;
}

.container-fetch-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

i.fa-arrow-right {
  font-family: "fontAwesome";
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(63, 63, 63);
  transform: translateX(0);
  animation: moveX 1.5s infinite;
  cursor: pointer;
}

@keyframes moveX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
