* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(231, 231, 231);
  font-family: "Roboto", sans-serif;
  position: relative;
}

h1 {
  margin-top: 300px;
  font-size: 40px;
  color: rgb(63, 63, 63);
  max-width: 800px;
  text-align: center;
  margin-bottom: 40px;
}

input {
  min-width: 650px;
  height: 50px;
  border: 3px solid rgb(63, 63, 63);
  border-radius: 9px;
  background-color: rgb(231, 231, 231);
  padding-left: 20px;
  font-size: 20px;
}
input:focus {
  outline: red;
}

.country-card__container {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 15%;
  transform: translateX(5%);
}

.container-fetch-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

i.fa-arrow-right,
i.fa-arrow-left {
  font-family: "fontAwesome";
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(63, 63, 63);
  transform: translateX(0);
  animation: moveRightX 1.5s infinite;
  cursor: pointer;
}

i.fa-arrow-left {
  transform: translateX(10px);
  animation: moveLeftX 1.5s infinite;
}

.country-card {
  min-width: 1200px;
  height: 650px;
  border: 3px solid rgb(63, 63, 63);
  margin-top: 150px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.card__left-side,
.card__right-side {
  width: 50%;
}

.card__left-side {
  position: relative;
}

.card__left-side::after {
  content: "";
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  background-color: rgb(63, 63, 63);
  height: 100%;
}

.card__left-side {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.left-side__maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.left-side__maps a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  color: rgb(63, 63, 63);
}

.left-side__maps {
  border: 3px solid rgb(63, 63, 63);
  width: 80%;
  border-radius: 15px;
  height: 200px;
  padding: 20px;
}

.maps-title {
  font-size: 25px;
  text-align: left;
}

.card__left-side img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.card__right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  font-size: 30px;
  position: relative;
  cursor: pointer;
  margin-bottom: 50px;
}
.card__title::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: orange;
  height: 4px;
  width: 30%;
  transition: all 0.3s;
}

.card__title:hover::after {
  width: 100%;
}

.right-side__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(63, 63, 63);
  padding: 32px;
  border-radius: 15px;
  width: 160px;
}

.right-side__three-box {
  display: flex;
  gap: 30px;
  margin-bottom: 45px;
}

.population-title {
  margin-bottom: 15px;
}

.right-side__circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgb(63, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.right-side__box:nth-of-type(1) .right-side__circle {
  background-color: rgb(210, 132, 104);
}

.right-side__box:nth-of-type(2) .right-side__circle {
  background-color: rgb(162, 222, 162);
}

.right-side__box:nth-of-type(3) .right-side__circle {
  background-color: rgb(145, 145, 222);
}

.right-side__borders-container {
  display: flex;
  gap: 15px;
  border-radius: 15px;
  width: 540px;
  height: 250px;
  border: 3px solid rgb(63, 63, 63);
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.back {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 50px;
  font-family: "fontAwesome";
  cursor: pointer;
}

@keyframes moveRightX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveLeftX {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
